@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

.favorites-grid {
  display: grid;
  max-width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 1rem;

  justify-items: center;
  align-items: start;
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  padding: 0 2rem 2rem 2rem;
}

.favorites-title {
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 4rem 0 2rem 0;
  color: rgb(49, 71, 89);
  font-size: 3.5rem;
}

.no-favorite-text {
  font-family: "Julius Sans One", sans-serif, Arial, Helvetica;
  text-align: center;
  padding-top: 2rem;
  color: rgb(49, 71, 89);
}

@media (width < 800px) {
  .favorites-title {
    font-size: 3rem;
  }
}

@media (width < 620px) {
  .favorites-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .favorites-title {
    font-size: 2.5rem;
  }
}

@media (width < 465px) {
  .favorites-title {
    font-size: 2rem;
  }
}
